
                             ── 遊戲規則 ──

國有國法、家有家規﹐Mud 當然也有 Mud 的規矩﹐以下是逸俠世界現行的天條﹐請務必
遵守。當然﹐玩家永遠有最終極的權力──拒玩﹐如果到了這一地步﹐這些天條當然再
也管不到您﹐不過我希望這種情形永遠不會發生。

□ 不要使用機器人練功﹐告訴乃論﹐情節嚴重者抓到殺檔案。

□ 不要 Multi-login﹐屢勸不聽者抓到殺檔案。

□ 禁止利用 Bug 牟利﹐情節嚴重者抓到殺檔案。

□ 禁止無故騷擾別人﹐告訴乃論﹐情節嚴重者抓到送保護管訓或殺檔案。

□ 在公用頻道上一次貼出太多的 TEXT 是件不禮貌的事, 初犯者口頭警告一次
   再犯的話送保護管訓, 三犯送 PURGE 一次。

□ 最好不要將人物和他人共用﹐告訴乃論﹐屢勸不聽者送保護管訓。

□ 禁止洩漏有關遊戲中謎題、機關、陷阱解法﹐屢勸不聽者抓到殺檔案。

□ 不鼓勵使用卑劣手段 PK﹐告訴乃論﹐若無法達成和解﹐且受害人超過三人者抓到
   殺檔案。

□ 不鼓勵偷竊、搶劫、謾罵、侮辱、粗言粗語等行為﹐告訴乃論﹐情節嚴重且無法
   達成和解者抓到殺檔案。

□ 以上除殺檔案之懲罰由神親自執行之外﹐其餘可向巫師申請調處。

□ 巫師調處若有不公、牟利特定玩家、或惡意傷害玩家權益﹐可向神申訴﹐申訴者
   自負舉證之責任。

巫師除了以上的規則都必須遵守外﹐尚須遵守巫師規則(見 help wiz_rules)﹐歡迎您
隨時檢舉違規的巫師。

By Annihilator(07/27/95)
