　　【“驰骋天下”少室山地图】　　　　　　　　　　　　　　　　　　　　　　
　　　　　　　　　　　　　　　　　　　　＜少林寺＞
　　　　　　　　　　　　ψψψψψ　　　　↑↑　　　　ψψψψψ
　　　　　　　　　　　　ψ松树林ψ－广场－广场－广场－ψ松树林ψ
　　　　　　　　　　　　ψψψψψ　　　　｜　　　　　ψψψψψ
　　　　　　　　　　　　　　　　　　　　　石阶　　　
　　　　　　　　　　　　　　　　　　　　　↑
　　　　　　　　　　　　　　　　　　　　　石阶 
　　　　　　　　　　　　　　　　　　　　　↑
　　　　　　　　　　　　　　　　　　　　　石阶 
　　　　　　　　　　　　　　　　　　　　eu↑　　　　　　　　　　　
　　　　　　　　　　　　　　石阶－少林寺→石阶　　　　　　　　　　
　　　　　　　　　　　　　　↑　　　　　　　　　　　　　　　　　　
　　　　　　　　　　　　　　石阶　　　　　　　　　　　　　　　　　
　　　　　　　　　　　　　　↑　　　　　　　　　　　　　　　　　
　　　　　　　　　　　　　　石阶－碧水神潭 　　　　　　　　　　　　　　　　
　　　　　　　　　　　　　　↑  wu　　　　　　　　　　　　　　　　　
　　　　　　　　　　　　　　石阶←石阶　　　　　　　　　　　　　　
　　　　　　　　　　　　　　　　　↑　　　　　　　　　　　　　　　　
　　　　　　　　　　　　　　　　　石阶　　　　　　　　　　　　　　
　　　　　　　　　　　　　　　　　｜
　　　　　　　　　　　　　　　    石阶－＜汝州城＞

By 「伏魔神僧*步履天下」(Dance)
1998.12.1