              －－－「驰骋江湖」游戏规则－－－

	「驰骋江湖」建立的目的是为广大在 Internet 上玩的、能够
读写汉字的朋友们提供一个消遣时间，谈天说地的地方。当然，就象其
他的 MUD一样，我们需要一套规则来保证游戏能够正常运行，玩家们能
玩的高兴。不愿意遵守以下规则的朋友请勿加入本游戏，谢谢。

	＊	请在公开交谈时尽量使用中文。不要胡乱使用频道干扰他人
	＊	请勿辱骂，或以任何形式侮辱任何一位玩家。
	＊	请用 tell 或 reply 来进行私人交谈。
	＊	请勿故意使用和他人一模一样的姓名。
	＊	严禁多人共用一个人物。
	＊	严禁利用ＢＵＧ牟利，发现并不报告着将被重处！
	＊	严禁泄露谜题，机关解法。
	＊	巫师不干涉玩家互相ＰＫ，下毒，抢劫，行窃。
	＊	所有巫师除了必须遵守以上规则外，还要遵守 wizrules。 

	巫师协会保留对犯规行为采取任何处理办法的权利。

	By 驰骋天下巫师公会 1999/3/12