
                         ── 巫师规则 ──

以下是巫师应遵守的规则，相关惩罚由巫师会议协商执行，欢迎玩家检举违规巫师。

□ 巫师应遵守所有玩家应遵守之规定(见 help rules )。
□ 除执行合法惩罚或补回因测试目的而造成的损失外，严禁修改玩家状态。
□ 严禁以巫师权力不公平地帮助或压制某一玩家。
□ 严禁巫师参与游戏，不得和玩家有结婚，PK，收徒，帮助关系。
□ 严禁擅自修改，删除，建立，移动玩家档案及数据；
□ 严禁公开于玩家争吵以及使用wiz以外的频道进行巫师内部讨论；
□ 严禁泄漏任何整体或部分西游记机密，包括源文件，谜题，巫师小组会议内容等；
□ 凡是违反规定的由arch以上的巫师小组开会决定，作出警告，批评，
   降级直至取消巫师予以开除，永不录用。
□ 对于玩家的质疑和检举，巫师小组将保留最后裁决权。

[西游记]
