
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                         [33;45m●笑傲江湖之游戏规则●[2;37;0m                         ┃ 
┃                                                                        ┃
┠────────────────────────────────────┨ 
┃ help player_rules      “笑傲江湖”玩家规则。玩家必须遵守的规则，违反  ┃
┃                      者将依据“笑傲江湖”玩家管理条例作出一定的处罚。  ┃
┠────────────────────────────────────┨ 
┃ help wiz_rules       神仙天条，请神仙们注意遵守。否则触动天条会打下    ┃
┃                      凡间。                                            ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
       Copyright by XO II GROUP    xomud            Last updated 01/20/2003


