               狂 想 空 間 遊 戲 規 則
               =======================
 
      不準透過巫師直接或間接修改玩家資料，如果要測試，請到巫師該去的地方
        除，該巫師是 (admin) 級以上，或者他事先徵求線上所有玩家同意及
        至少一名跟他不同校的 wizard 級以上巫師同意。
 
      玩家如果超過三個月沒上線, 會被系統自動砍掉
 
  除了 BUG 以外，玩家的事由玩家解決, 所以, 玩家不能找巫師出面解決
  由其他 player 造成的紛爭, 例如被 PK, 或者因不小心死掉等等。
  以下規則由Lum附增:
      除以上規定之外，使用公眾頻道（接收訊息者在兩人以上）口出穢言
      者，以及跟巫師發生戰鬥行為者，皆視為違法，一定皆以砍檔論處。
 
 
 
  PS: 想當巫師有兩種狀況，一是到另一巫師專用站去 post
      另一條是用 wizard 命令, 此命令需要某些條件才能生效
  PS: 完成所有任務
      上線時間需超過五天
      戰鬥經驗值須超過 10000
  PS: 上述情況只是暫定, 以後視情況再說
 
其他: help cmds, help start, help setup, help history, help wiz_rules
 
by wade in 10/29/1995, fixed in 12/2/1995
by Lum additem 6/3/1996
