[submodule "libs/imud/work"]
	path = libs/imud/work
	url = https://github.com/fluffos/imud.git
[submodule "libs/lima/work"]
	path = libs/lima/work
	url = https://github.com/limalib/lima.git
[submodule "libs/nightmare3/work"]
	path = libs/nightmare3/work
	url = https://github.com/fluffos/nightmare3.git
[submodule "libs/deadsouls_fluffos/work"]
	path = libs/deadsouls_fluffos/work
	url = https://github.com/fluffos/dead-souls.git
[submodule "libs/sanguozhi/work"]
	path = libs/sanguozhi/work
	url = https://github.com/fluffos/sanguozhi.git
[submodule "libs/xkx100utf8/work"]
	path = libs/xkx100utf8/work
	url = https://github.com/fluffos/xkx100.git
[submodule "libs/nt7/work"]
	path = libs/nt7/work
	url = https://github.com/fluffos/nt7.git
