

[1;31m〖[1;33m大唐天条[1;31m〗[2;37;0m

   1。只要下了KILL命令杀死玩家就算PK，对通缉犯和 NPC下KILL自己
      不算PK。
   2。只要下KILL杀了玩家就进入被通缉状态，（下KILL的自己战死就
      没事）为期一小时（下线上来继续计算），同时系统广播通缉犯
      的位置。被通缉期间在城市门口会被官兵杀，商店也停止对通缉
      犯的服务，如果在城里，会被捕头追杀。
   3。通缉犯如果是被玩家杀死（对通缉犯下KILL自己不算PK），死亡
      损失是：经验降低 （PK次数+2）/2 * 1/100， 技能的降低和正
      常死亡一样，最多降低 1 级。
   4。通缉犯如果是被官兵、捕头类杀死的，死亡损失为： 经验减低
      （PK次数+1）/2 * 1/100，技能的降低和正常死亡一样，最多降
      低 1 级。但需要坐牢 ，中途下线再上不能消除坐牢时间。
   5。通缉期间不是因为玩家和官兵、捕头类造成死亡的，继续处于通
      缉状态。通缉期间不是先下KILL而杀害玩家的，则算正当防卫，
      不累计PK次数。如果下KILL命令杀人，则当作通缉犯继续杀人而
      论。
   6。通缉期间如果继续杀人，则任何惩罚将加倍。通缉期将重算（杀
      人数）个小时（如杀一人通缉时间是一小时，杀两人通缉时间是
      两小时）。
      被玩家正法的损失：经验降低 （PK次数+2）/2 * 1/100， 技能
      的降低和正常死亡一样，最多降低 1 级。
      被官兵正法的损失：经验减低（PK次数+1）/2 * 1/100，技能的
      降低和正常死亡一样，最多降低 1 级。 坐牢（杀人数）个小时
      （如杀一人是1小时，杀两人是2小时) 。
   7。杀人后的半小时内不得离开游戏。
   
   
                                               [1;33m-- DtSl.Wiz --[2;37;0m 