
                             —— 游戏规则 ——

每一个mud 都会有约束玩家的规定来维持mud 的正常运作, 当然, 蝗□传说也会有一
些规定要您来遵守, 以下是蝗□传说开放後的规则, 请您能够和我们合作, 当然, 如
果你觉得不合理你也可以提出申请, 我们将会给您最快的答案.


** 目前严禁multi-login, 因已正式开放, 你的方便将会让很多人进不来。

** 严禁用 Bug 牟利, 抓到者一律砍档( 情节重者 )。

** 禁止用任何频道骚扰别人, 如果有此情形发生, 将以情况轻重来决定处份。

** 口出秽言骂人者, 以情节轻重者决定处份。

** 有关mud 中的谜题、机关、陷阱解法不许用公众频道说出, 屡劝不听者砍档。

** 严禁与wiz 套关系来增加自已的能力, 抓到者一律砍档。

** 若有巫师处份不公、牟利特定的玩家、或是恶意找指定玩家的麻烦、都可和神申诉

   , 神自会给你一个交待。

巫师除了以上的规则都必须遵守外，尚须遵守巫师规则(见 help wiz_rules)，欢迎您
随时检举违规的巫师。

本篇说明是由ES2的说明修改而产生的

By Appro (10/15/95)
Chang By Paul (09/16/96)
