                 $HIW$【$HIC$天涯$HIW$】$HIY$游戏规则

    $HIW$【$HIC$天涯$HIW$】$HIG$游戏是建立在【东方故事Ⅱ】mudlib上的一个MUD游戏，
我们的目的是为广大在 gnet，Internet上玩的、能够读写汉字的朋
友们提供一个消遣时间，谈天说地的地方。当然，就象其他的MUD一
样，我们需要一套规则来保证游戏能够正常运行，玩家们能玩的高兴。
不愿意遵守以下规则的朋友请勿加入本游戏，谢谢。


    $HIY$▲$HIG$ 禁止无故使用频道骚扰别人，例如#10 tell id &^%%$#^
          
    $HIY$▲$HIG$ 禁止骚扰玩家的机器人，情节严重者抓到杀档案。(本条无须
       警告!)例如触发对方机器人或者恶意杀害任务npc等等，PK正
       在做任务的玩家不算骚扰机器人!
    
       
    $HIY$▲$HIG$ 禁止在公共频道刷屏，如果第一次警告，第二次关监牢1小时，
       如果屡教不改的，封id三天或者杀档!    
    
       
    $HIR$● $HIG$严禁玩家使用BUG牟利，发现一律严惩。
       以上条例处理方法如下:
       1.(处理:将捣乱玩家全线关入监狱，巫师协会保留永久处理方
       $HIG$式)
    
    $HIG$
       2.(处理:按情节轻重处理:处理方法包括;口头警告、关入监狱
       (指一条线的所有Player、杀档(指其作弊玩家及违反条例者)、
       封闭IP(封IP 例:100.100.100.100 Ip 巫师的封闭方法为封: 
       100.100.100.*))。
    
    $HIR$● $HIG$严禁取用带有色情或者反政府的名字！发现者巫师立即修改该
       id名字，如果屡教不改者杀档!

    $HIR$● $HIG$严禁玩家恶意PK,恶意pk定义有以下几条:
     $HIG$1:多次大规模的pk比自己差的玩家，造成天涯游戏发展不下去的!
       
     $HIG$2:每天上线目的只是为了pk，而且不是pk固定id，是pk大规模的玩
       家，而且还是不练功的，被杀一次就马上逃跑，然后第二天上来
       继续pk,不练功的!第一次发现封id三天，第二次马上杀档!
     
     $HIG$3:pk新手者(岁数小于18岁)  的玩家，马上关id三天，屡教不改的杀
       档处理!

       $HIG$其他个人恩怨仇杀巫师一概不理!
     
    $HIB$☆ $HIG$所有巫师除了必须遵守以上规则外，还要遵守 $HIW$WIZRULES$HIG$。 

   $HIW$【$HIC$天涯巫师组$HIW$】$HIG$      保留对犯规行为采取任何处理办法的权利。

   
$HIY$                                             By zjb 修改于
$HIW$                                          二零零二年六月十日

