 玩家规则详解                            
----------------------------------------------------------------------
                                            李逍遥(lxy)(1999.9.24)
 
泥潭是虚拟现实，人人都会受到委屈和不平，但是国有国法，潭有潭规，辱骂
玩家并进行人身攻击，首先使其本人失去了被同情、被支持的资格；其次严重
损害了本站的声誉；其三还会将本可以通过其它途径化解或消除的矛盾进一步
激化。为此，巫师组首先劝告玩家冷静对待泥潭中的现实。其次决定加强对网
络文明管理力度，加大对违规者的处罚：
    自本公告发布之时起，巫师将加大隐身上线及监听的次数
和密度。对于在c
hat rumor music say 等公开频道采取人身攻击性词汇和辱骂性字眼的玩家当
场踢出游戏、不听警告并再犯者，不论其经验大小，将毫不留情地处以杀档。
对刻意反复采用搬搬连线违规者，巫师有权根据掌握证据的充分程度，对其主
id进行相应的处罚。
    我们不能保证查处到所有违规者，但一经查实，决不留情。请大家自觉赚维
护我们这个来之不易的MUD。
    同时。巫师也忠告玩家：不要将泥潭中的感情带入到现实中。也不要将现
实中的事牵扯进泥潭里。游戏之外，大家应该都是朋友。
     MUD是一个自由游戏站点，巫师均是业余无偿工作者，但有管理和决定 MUD发
展方向的绝对权力。玩家也拥有自愿参加游戏与拒玩本站点的绝对自由。
　　所有的玩家，如果以相同IP地址上来的多个id，巫师将一律视其为同一个玩家，
有胆敢利用其中无经验或者少经验的id进行违规行为和破坏行为的，巫师将对此IP
上所有的id进行统一处罚。
对于违规的处罚手段基本如下:
1.警告2.关禁闭30分钟3.踢出游戏4.无期限关忏悔室5.封当前IP6.对违规玩家降级
(武功经验等)7.杀档    
玩家守则是维护一个站点正常运作的基本。现对其逐条细释如下： 
●  进行私人交谈请用 tell 或 reply 。        警告
　　（不要过多地占用公共频道资源，否则会被视为干扰其它玩家；）
●  在私人交谈频道恶意侮辱对方               警告至杀档
●   请勿故意使用和他人一模一样的姓名。       勒令改名
　　（“故意”的判断标准是使用这个相同的中文名，冒充他人，或
进行骚扰，并造成其它玩家对两人之间分辨的困惑，MUD中允许正常的
中文名重复的情况存在）
●  使用侮辱性和攻击性的中英文名              警告至杀档
●  利用机器人干扰其他玩家和游戏运行          关禁闭30分钟至杀档
    如:英文 PKWIZ FUCK 中文主要为各类侮辱性名词 
●  请勿辱骂任何一位玩家和巫师。              警告至杀档
　　（固定的emote不算，辱骂含义为使用了脏话、脏字，并进行人身
攻击，初犯将踢出游戏以示警告，再犯视其情节严重直至杀档，适用
范围为所有频道与交谈，但以巫师亲手掌握证据为准）
●  不欢迎多人共用一个人物。                  警告至杀档
　　（多人共用一个人物最起码的后杲，就是这两人所有的id视为相
同的人，其中一个ID违反玩家规则受处理时会受到连坐，巫师一旦掌
握确凿证明将有权全部杀档）
●  请勿向巫师提出修改数据的要求              警告至降级
　　（此要求再加上如与有关巫师有些现实中的关系的因素，容易造
　　（明确说明，视其利用BUG牟利程度的高低，进行警告
降级直至杀档，巫师也同时对举报BUG者进行更加灵活的高额奖励手段）
●  严禁有意利用系统缺陷进行当机              杀档     
　　（当机的严重性不言而喻，一旦发现是故意行为，坚决对其所有的
ID进行一次性杀档）
●  请勿交谈有关政治性的敏感话题。            杀档   
　　（泥潭中多谈变武侠和古代的事，此举关系到游戏是否生存，巫师
组对违反这一条规则者保留进行永久性拒绝进入本游戏的权利）
●  请勿散布有关色情、暴力、迷信内容的话题。  杀档   
　　（此条如题，无需解释）
●  巫师遵守以上规则外，还要遵守 wizrules。   开除    
　　（巫师同样要遵守上述规则，请玩家监督）
●  如果一些玩家的出现非正常的大量金钱和技能经验等等巫师有权要求
其解释来源。如果属于利用BUG牟利，对不起，您白辛苦了。如果拒不解释
或编造理由逃避审查，巫师组保留一切处理手段！

　　以上内容将会严格执行，请不要依据过去经验，有侥幸之念。望众玩家
相互转告，自感不能遵守这些规则者，可以拒玩本站点。对于本站以前的所
清除的违纪巫师，欢迎你们来作玩家，但是如果站本站内进行任何形式的破
坏活动，巫师组将一律坚决处理。恕不提前告之！
 
附:
　　　　　　－－关于ＢＵＧ的处罚和奖励规则－－
——————————————————————————————
　　「雄霸天下」现在还是一个新的泥巴，很多地方还有待改善。既然
这是人建立的泥巴就会有人为的出错，各位玩家在玩泥巴的期间不可
避免地会碰到一些问题(BUG) 。所以巫师协会制订如下关于ＢＵＧ的
处罚或奖励规则。

 1. 严禁利用ＢＵＧ牟利。
 2. 如果因为利用ＢＵＧ所得的一切收益一律收回。
 3. 经警告还不悔改者，巫师对此玩家进行处罚并要在巫师休息室贴
　　出处理此事的详细过程。
 4. 玩家碰到ＢＵＧ可向当值的巫师举报，或者在巫师会客室贴出来。
 5. 对举报的ＢＵＧ经巫师查核确实后，按ＢＵＧ的轻重程度对举报
　　的玩家进行奖励。执行奖励的巫师事后要在巫师休息室贴出详细
　　的奖励原因和办法，并负责修改ＢＵＧ。
 6. 奖励程度的决定权由巫师负责。
 7. 玩家对处罚或奖励不服者可向天神投诉，最后由巫师协会开会决
　　定最终的处理方法。
 8. 对于处罚或奖励不当的巫师，经巫师协会开会后对其进行一定的
　　处分。

——————————————————————————————
                                           西安雄霸天下巫师组


