----------------------------------------------------------------------
                      [33;45m●笑傲江湖之游戏规则●[2;37;0m
----------------------------------------------------------------------

    player_rules      “笑傲江湖”玩家规则。玩家必须遵守的规则，违反
                      者将依据“笑傲江湖”玩家管理条例作出一定的处罚。
    player_management “笑傲江湖”玩家管理条例。对玩家违反玩家规则的
                      处罚和对汇报ｂｕｇ的奖励细则。
    wiz_rules         神仙天条，请神仙们注意遵守。否则触动天条会打下
                      凡间。
    wiz_management    “笑傲江湖”巫师管理条例。对巫师违反巫师规则的
                      处罚细则。

----------------------------------------------------------------------
Copyright by XO GROUP                Last updated 05/06/1999

