// test task 1.

inherit GROUP_TASK;

void create()
{
    group_task::create();
    SetExistenceTime( 5 ); //完成时间
    SetTermType( "short" ); //短期或长期
    SetKeyName( "send baozi to xiao er" ); //索引
    SetGroupName( "yipin" );  //隶属组织
    SetLevel( 0 );   //task等级(申请的等级)
    SetAct( "BeginningAct", ([
        "time"      : 0,  //开始时间条件 if 0 no 条件
                          //否则是X月X日被触发
        "site"      : "yangzhou",  //地点
        "character" : "/d/city/yangzhou/npc/xiaoer1:/d/city/yangzhou/jiulou",  //若没有则newNPC，房间则是player的当前环境
        "message"   : "send a jicai baozi to xiao er", //message
        "bonus"     : FOOD_DIR + "jicai",  //开始物品(string)
                                           //或zuzhi_score(int)
        "follow"    : 0, // 0 || 1 是否是开始   
    ]) );
    SetAct( "SuccessAct", ([
        "message"   : "xiao er say: baozi 很好.\n\n\n", //message
        "bonus"     : 10,                  //也可以是string
        "follow"    : 0,                   //可以给出下一个的keyname
    ]) );
    SetAct( "FailAct", ([
        "message"   : "连lnwm都不如, send东西都不会.\n",
        "bonus"     : -3,
    ]) );
    SetTaskEvent( ([
        "verb"      : "give",
        "event"     : "give jicai baozi to xiao er", //give kill 
                                                     //send buy learn
    ]) );
}

void heart_beat()
{
    group_task::heart_beat();
    // 如果需要可以扩展heart_beat()，也可以完全重载。
}

int CanBegin( object ppl )
{
    // 自己扩展。                        // 
    return group_task::CanBegin( ppl );  //只对本task有效
}

int CanEnd( object ppl ) 
{ 
    // 可以自己扩展。                    //return 0 则不结束
    return group_task::CanEnd( ppl ); 
}

void PerformBegin( object ppl ) {}  //在message完了以后结束

void PerformSuccess( object ppl ) {}

void PerformFail( object ppl ) {}

