[44;1m[1;33m【侠客行游戏规则】                                            [37;0m

[1;33m＊[37;0m请勿使用易引起混乱或不雅观的中、英文名字。巫师保有更改玩家的
  中、英文名字直至删除其档案的权利。

[1;33m＊[37;0m严禁故意使用和他人一模一样的姓名，违者将被迫改名或删除档案。

[1;33m＊[37;0m严禁辱骂任何一位巫师或玩家，违者初犯关空房间，写检讨；再犯所有帐号
删减四分之一经验；三犯最强帐号将被删除。

[1;33m＊[37;0m凡是故意破坏本游戏运行的玩家，将被宣布为不受欢迎者，而相关IP将会被
拒绝连线。这包括以下行为：恶意攻击侠客行的服务器；非法窃取侠客行的源
代码；非法窃取侠客行其他玩家和巫师的帐号；恶意攻击和散布关于侠客行的
谣言；恶意攻击和诋毁侠客行的巫师。对于以上行为，侠客行巫师协会不但要
给予拒绝连线，而且还保留追究法律责任的权力。

[1;33m＊[37;0m严禁公开或私下ＦＬＯＯＤ，违者初犯关空房间，写检讨；再犯最强帐号删
减四分之一经验；三犯最强帐号将被删除。

[1;33m＊[37;0m严禁多重上线。违者初犯关空房间，写检讨；再犯所有帐号删减四分之一经
验；三犯最强帐号将被删除。

[1;37m  多重上线即同一人在同一侠客行站点同时操纵两个或以上的人物。网吧玩家
  也必须遵守。多重上线是对人数进行管制，每一真正玩家在任何时候
  只能登陆一个帐号，真有三个玩家便容许登陆三个帐号，并不以机器
  数目多寡来决定。以此例类推，严防使用大米帮助主帐号。

[1;33m＊[37;0m玩家帐号转让必须向巫师登记，并由巫师删减四分之一经验。如不登记按多
人共用一个人物处理。

[1;33m＊[37;0m严禁多人共用一个人物，违者初犯删减一半经验；再犯帐号将被删除。

[1;33m＊[37;0m严禁使用机器人增长经验。违者初犯关空房间，写检讨；再犯帐号删减四分
之一经验；三犯帐号将被删除。

[1;33m＊[37;0m严禁泄露谜题，机关解法，违者数据将被调整至原有的７０％。

[1;33m＊[37;0m严禁利用ＢＵＧ牟利，违者数据将被调整至原有的７０％。如果情况
  太严重，档案将被删除。处分由巫师酌情决定。

[1;33m＊[37;0m允许互相ＰＫ，下毒，抢劫，行窃。但严禁对侠客行进行破坏性ＰＫ。
  违者档案将被删除。

[1;37m  破坏性ＰＫ即一切阻碍游戏正常发展的大规模残杀及一切阻碍玩家进
  行游戏的连续杀戮。宽限暂定为下，若有改变将预先通知：
  １）一日之内不得杀超过五位玩家
  ２）一日之内不得主动直接或间接连杀同一玩家超过两次(正当防卫或其它应属例外)
  ３）不得连续超过三天每天杀超过五位玩家
  
[1;33m＊[37;0m玩家检举揭发他人违反规则将受到奖励。凡检举被证实将获得奖励一粒九转
还魂丹。巫师并且有责任保密，不经检举人同意，不得将检举人名字公布于众。

[1;33m＊[37;0m请在公开交谈时尽量使用中文。

[1;33m＊[37;0m请用 tell 或 reply 来进行私人交谈。


[44;1m[1;33m【侠客行执行规则】                                            [37;0m

[1;33m＊[37;0m请不要因一时意气用事而自杀，自杀者不得复档。

[1;33m＊[37;0m玩家移数不得转移到其他站点。

[1;33m＊[37;0m如果玩家数据出现问题，巫师将以最近的备份挡案恢复。如数据仍有
  误差，巫师将不会进一步帮玩家修复。

[1;33m＊[37;0m如果玩家对侠客行规则产生争议，以巫师的解释为准。

[1;33m＊[37;0m所有巫师除了必须遵守以上规则外，还要遵守巫师规则。

[1;32m巫师协会保留对犯规行为采取任何处理办法的权利。[37;0m

