                《仙剑狂侠2000 玩家游戏规则》
                
                          ——  <<仙剑狂侠2000>>巫师工作组
                
一、玩家不得向巫师提出无理要求，包括向巫师要钱，要属性等，如果违
犯，将被给予删档处理。

二、玩家不得利用BUG获利，如果违犯，将被给予删档处理。

三、由于本站的速度对于众玩家来说，有快有慢，所以对于恶意 FLOOD的
玩家，将给予删档处理。

四、为树立本站的良好形象，对骂人者，将视情节严重，给予关禁闭或关
到桃花源的处理。行为极其恶劣者，将给予删档或封IP处理。


　　为了使本站有更快的发展，希望玩家发现ＢＵＧ时能及时的举报，我
们将给予适当的奖励（奖励是随机的），如果在线巫师忙时，请尽快的贴
在留言板上，谢谢合作！……

