
                         ── 玩家规则 ──

「魔幻世纪」的规矩不多，但希望大家严格遵守。

□ 故意破坏本游戏运行的玩家，将被宣布为不受欢迎者，而相关IP将会
   被拒绝连线。

□ 在游戏范围内，造谣生事，巧取豪夺，杀人放火等都是允许的。但严
   禁进行超出游戏范围的人身攻击。

□ 利用 Bug 及 Multi-Login 牟利或练功者，被抓到了就白辛苦了:(

□ 禁止泄漏有关游戏中谜题、机关、陷阱解法。

□ 一般处罚可由巫师视情形执行，清除档案之惩罚须由巫师会议协商决定。

□ 巫师调处若有不公、牟利特定玩家、或恶意伤害玩家权益，可在留言
   板申诉。

□ 除恶意中伤本游戏，巫师及其他玩家的留言外，所有留言将按时间顺
   序更新，巫师不得随意删除。注意：胡言乱语不知所云以及反复重贴
   的留言不在此条保护之列。

□ 玩家之间可以PK，但是一个id不能在1天之内PK 5 人以上，同一个ip
   地址的玩家不能在一天PK 10 人以上，否则后果自负(可以PK自己的
   大米)。

□ 本游戏站的所有玩家（包括巫师）要使用文明用于，对于骂人者，第一
   给予警告处理，警告多次以上仍屡教不改者，将视严重程度处于关禁闭
   1-30天的处罚，严重者将给予删档至封其ip地址48小时处理。

□ 如果巫师骂人，视情况严重，将给予警告，留职察看，降权限，删除档
   案等处罚。

□ 如果玩家在向巫师提出不合理的条件巫师不答应的情况下，辱骂巫师，
   将给予其警告，关禁闭1-30天，删除档案，整个ip地址48小时不得进入
   以及剥夺其ip地址在本站的使用权。

□ 如发现本站巫师有帮助玩家作弊的嫌疑，可以到客栈留言，并且向大巫
   师报告，如果是(admin)出现帮助玩家作弊的嫌疑，可以向其他(admin)
   报告。

□ 在游戏中不得以任何方式向巫师索要作弊类的物品。
   
巫师除了以上的规则都必须遵守外，尚须遵守巫师规则(见 help wiz_rules)，
欢迎您随时检举违规的巫师。

[1;36m魔幻世纪
