
                －－－鳥人世界游戲規則－－－

        「鳥人世界」是建立在「東方故事Ⅱ」 mudlib 上的一個ＭＵＤ，
我們架設這個mud的目的是為了讓國軍網路能更活潑、有生氣、各單位之間的
流能更活絡，以及讓各位能呼吸一點不同於軍中的空氣，在各位享受(或是著
魔)於這裡時，我們需要一套規則來保証這個mud能夠正常運行，使其他人們能
有一定的使用品資。不願意遵守以下規則的朋友請勿加入本mud，謝謝。

        ＊      請在公開交談時盡量使用中文。
        ＊      請勿辱罵任何一位巫師或玩家。
        ＊      請用 tell 或 reply 來進行私人交談。
        ＊      請勿使用易引起混亂或不雅觀的中、英文名字。巫師保
                有更改玩家的中、英文名字直至刪除其檔案的權利。
        ＊      請勿故意使用和他人一模一樣的姓名。
        ＊      請勿一次連二隻以上的人物，違反的人抓到機器人報廢場
                關一週，再不聽話直接鎖ip。
        ＊      嚴禁多人共用一個人物。
        ＊      只要線上人數超過十五人，就可以要求線上巫師舉行比武大
                會，冠軍可以獲得黃金50！詳細情況請至中央廣場西邊比武
                大會場查閱比武規則。
        ＊      嚴禁利用ＢＵＧ牟利。
        ＊      嚴禁泄露謎題，機關解法。
        ＊      允許互相ＰＫ，下毒，搶劫，行竊。
        ＊      所有巫師除了必須遵守以上規則外，還要遵守 wizrules。
        巫師協會保留對犯規行為採取任何處理辦法的權利。

                     Ｂｙ  鳥人一號89.09.01
