
[1;36m【月影奇缘】[2;37;0m

──────────[1;31m【游戏规则】[2;37;0m─────────────

[1;33m严禁一切违反国家法律法规的言行。[1;36m删除档案。
[1;33m请勿辱骂任何一位巫师或玩家。    [1;36m关闭交谈频道、关禁闭。情节恶劣者删除档案。
[1;33m使用违反登录提示的名字。        [1;36m巫师可以要求违反者更换姓名，或改为“名字待定”。
[1;33m人不在时使用机器人练功。        [1;36m关禁闭。
[1;33m使用他人 ID 。                  [1;36m一旦发现同一 ID 有多人使用，删除该 ID 及有牵连
                                ID 的档案。
[1;33m公开或私下灌水(flood)。         [1;36m关禁闭，严重者删档。
[1;33m多重登录(multilogin)。          [1;36m关禁闭，严重者删档。
[1;33m利用系统臭虫(bug)牟利。         [1;36m加倍扣除非法牟利，严重者删档。
[1;33m向巫师提出非法要求。            [1;36m关禁闭，严重者删档。
[1;33m影响多人无法正常游戏。          [1;36m关禁闭，严重者删档。[2;37;0m

─────────────────────[35m【月影奇缘】[2;37;0m───
