────────────────────────────────
[44;1;37m		     【侠客新传游戏规则】			[2;37;0m
────────────────────────────────[2;37;0m
    「$HIW$侠客新传$NOR$」是一个在「书剑」网络游戏基础上做出较大的改进的一
个 $HIC$MUD$NOR$ 网络游戏， 创造这个游戏的目的首先是为网上的朋友们提供一个
寻找乐趣，消遣时间，谈天说地的地方。当然，就向其他的 $HIY$MUD$NOR$ 一样，
我们需要一套规则来保证游戏能够正常运行，玩家们能玩的高兴。不愿意
遵守以下规则的朋友请勿加入本游戏，谢谢。

1、请勿用中文或其他语言以任何途径$HIR$辱骂$NOR$任何一位巫师或玩家。
   如果为了表达自己的愤怒与不屑，请用 $HIY$tell 或 $HIY$whisper$NOR$。
   请注意：巫师不会对使用 $HIY$tell$NOR$ 或 $HIY$whisper$NOR$  的交谈内容进
   行任何管理，如果他人和你的私人交谈中含有任何不雅子眼
   而你进行公开宣扬的话，巫师将会认为$HIR$你$NOR$反规则而进行处理。
2、请用 $HIY$tell$NOR$，$HIY$whisper$NOR$ 或 $HIY$reply$NOR$ 来进行$HIC$私人$NOR$交谈。
3、请勿使用易引起混乱或不雅观的中、英文名字。巫师保留有
   更改玩家的中、英文名字直至删除其档案的权利。
4、禁止在任何频道或是公开场合发布有伤风化的言语。
5、$HIR$绝对禁止$NOR$公开或私下 $HIY$FLOOD$NOR$，凡是散布没有用处的信息或是
   反复散布相同的信息都被认为是 $HIY$FLOOD$NOR$。如果你需要发布物
   品买卖广告或是其它类似的重复信息，请使用 $HIC$bill$NOR$ 频道。
   禁止使用其他任何频道散布重复累赘的信息。
6、严禁公然张贴谜题，机关解法。
7、$HIR$绝对禁止$NOR$利用 $HIY$BUG$NOR$ 牟利、向巫师以外的玩家公开发现的$HIY$BUG$NOR$。
8、必须按照规定要求限制 $HIY$PK$NOR$ 数量。
9、本游戏对机器人的态度：$HIC$1、$NOR$不反对 $HIC$2、$NOR$不提倡 $HIC$3、$NOR$不提供条
   件。
10、所有巫师除了必须遵守以上规则外，还要遵守巫师规则。

    凡是违反明确禁止的条款的ID，可以导致被$HIR$踢出、监禁、删除档案$NOR$的
任何一种处理。其它情况采用具体的解决办法，但是不会采用上述这三种
严厉的手段。如果违反规则，巫师可以不给出警告直接进行处理。
────────────────────────────────
$HBRED$$HIW$				By jjgod@XKXZ.2001/04/13.	$NOR$
────────────────────────────────