# falg 为 0 说明以下定时是依照现实生活中的时间
# falg 为 1 说明以下定时是依照游戏中的时间
#
# day_in_month 一个月中的第几天，范围 1-31
#
# day_in_week  星期几 范围 0-6 ( 0 为星期日 )
#
# month_in_year 月份 范围 0-11
#
# hour  小时    范围 0-23
#
# minute 分钟   范围 0-59
#
# object、function 是条件满足时触发 object->function
#
# 没有用的项用 '*' 星号 填补
# 每一项中可以用 ',' 逗号来分割多条件
#
# 以下是格式：
#flag:minute:hour:day_in_week:day_in_month:month_in_year:year object function string *args
#

#定时出现的BOSS
0:1:*:*:*:*:* /adm/daemons/timed place_boss pantu
0:6:*:*:*:*:* /adm/daemons/timed place_boss taofan
0:8:*/3:*:*:*:* /adm/daemons/timed place_boss god_dragon
0:11:*:*:*:*:* /adm/daemons/timed place_boss boguang
0:16:*:*:*:*:* /adm/daemons/timed place_boss daoke
0:21:*:*:*:*:* /adm/daemons/timed place_boss feizei
0:36:*:*:*:*:* /adm/daemons/timed place_boss sea_dragon
0:58:*/2:*:*:*:* /adm/daemons/timed place_boss golden_dragon
0:41:*:*:*:*:* /adm/daemons/timed place_boss wudu
0:46:*:*:*:*:* /adm/daemons/timed place_boss dugu
0:50:*/2:*:*:*:* /adm/daemons/timed place_boss fawang
0:51:*:*:*:*:* /adm/daemons/timed place_boss longnv
0:56:*:*:*:*:* /adm/daemons/timed place_boss gongsun
0:20:*/2:*:*:*:* /adm/daemons/timed place_boss ouyangfeng
0:28:*:*:*:*:* /adm/daemons/timed place_boss jiangshi
0:35:*/2:*:*:*:* /adm/daemons/timed place_boss fusang
0:38:*:*:*:*:* /adm/daemons/timed place_boss liulishou
