 ◎「鹿鼎记」游戏规则
——————————————————————————————
　　「鹿鼎记」是建立在「东方故事Ⅱ」mudlib上的一个 MUD，我们
的目的是为广大在 Internet 上玩的、能够读写汉字的朋友们提供一
个消遣时间，谈天说地的地方。当然，就象其他的 MUD一样，我们需
要一套规则来保证游戏能够正常运行，玩家们能玩的高兴。不愿意遵
守以下规则的朋友请勿加入本游戏，谢谢。

 1. 严禁恶意中伤本游戏。
 2. 严禁蓄意破坏本游戏正常运行。
 3. 严禁在公用频道或留言版辱骂其他玩家和巫师、或者散布违法言
    论。
 4. 严禁多人共用一个人物。
 5. 严禁利用ＢＵＧ牟利。
 6. 严禁泄露谜题，机关解法。
 7. 请勿蓄意使用不合适的名字以及别称（含中英文）。
 8. 请勿恶意骚扰任何一位玩家和巫师。
 9. 请勿故意使用和他人一模一样的姓名。
10. 请用 tell 或 reply  来进行私人交谈。
11. 允许互相ＰＫ，下毒，抢劫，行窃。
12. 因系统reboot，自己没有save而造成的损失，巫师不予赔偿。
13. 所有巫师除了必须遵守以上规则外，还要遵守wizrules。
14. 巫师协会在泥巴内发表的一切言论、通告以巫师协会指定发言人
　　所发表的为准，其他人发表的任何消息只属个人意见与本巫师协
　　会无关。 
15. 巫师协会有权利对游戏内容和方式做适当修改。　　
                           现任巫师协会发言人：燕青(Chenww)

——————————————————————————————
巫师协会保留对犯规行为采取任何处理办法的权利。

附:
　　　　　　－－关于ＢＵＧ的处罚和奖励规则－－
——————————————————————————————
　　「鹿鼎记」现在还是一个新的泥巴，很多地方还有待改善。既然
这是人建立的泥巴就会有人为的出错，各位玩家在玩泥巴的期间不可
避免地会碰到一些问题(BUG) 。所以巫师协会制订如下关于ＢＵＧ的
处罚或奖励规则。

 1. 严禁利用ＢＵＧ牟利。
 2. 如果因为利用ＢＵＧ所得的一切收益一律收回。
 3. 经警告还不悔改者，巫师对此玩家进行处罚并要在巫师休息室贴
　　出处理此事的详细过程。
 4. 玩家碰到ＢＵＧ可向当值的巫师举报，或者在巫师会客室贴出来。
 5. 对举报的ＢＵＧ经巫师查核确实后，按ＢＵＧ的轻重程度对举报
　　的玩家进行奖励。执行奖励的巫师事后要在巫师休息室贴出详细
　　的奖励原因和办法，并负责修改ＢＵＧ。
 6. 奖励程度的决定权由巫师负责。
 7. 玩家对处罚或奖励不服者可向天神投诉，最后由巫师协会开会决
　　定最终的处理方法。
 8. 对于处罚或奖励不当的巫师，经巫师协会开会后对其进行一定的
　　处分。

——————————————————————————————
　　　　　　　　　　　　　　Ｂｙ　影子(Shadow)　(1998.09.22)



