		－－－俠客行游戲規則－－－

	「俠客行」是建立在「東方故事Ⅱ」 mudlib 上的一個ＭＵＤ，我們
的目的是為廣大在ＩＮＴＥＲＮＥＴ上玩的，能夠讀寫漢字的朋友們提供一個
消遣時間，談天說地的地方。當然，就向其他的ＭＵＤ一樣，我們需要一套規
則來保証游戲能夠正常運行，玩家們能玩的高興。不愿意遵守以下規則的朋友
請勿加入本游戲，謝謝。

	＊	請在公開交談時盡量使用中文。
	＊	請勿辱罵任何一位玩家。
	＊	請用 tell 或 reply 來進行私人交談。
	＊	請勿故意使用和他人一模一樣的姓名。
	＊	嚴禁使用機器人練功。
	＊	嚴禁ＭＵＬＴＩＬＯＧＩＮ。
	＊	嚴禁多人共用一個人物。
	＊	嚴禁公開或私下ＦＬＯＯＤ。
	＊	嚴禁利用ＢＵＧ牟利。
	＊	嚴禁泄露謎題，機關解法。
	＊	允許互相ＰＫ，下毒，搶劫，行竊。
	＊	所有巫師除了必須遵守以上規則外，還要遵守 wizrules。 

	巫師協會保留對犯規行為采取任何處理辦法的權利。

	Ｂｙ 翔少爺 （初稿于九五年十二月） 

