[44;1m[1;33m【玄剑录游戏规则】                                            [37;0m

----------------------------------------------------------------------
＊请勿使用易引起混乱的中、英文名字。

名字呈现乱码状态、 以及容易伪装成其他玩家的名字、名字中使用金庸小说内的角色
姓名代号或者书名,则巫师将劝告或者强行更改其名字；名字中有任何不雅观或下流污
秽等字眼、与名字容易  伪装成其他玩家,与游戏中非玩家角色相同的名字、与游戏中  
工作系统或解密系统相关的物件名称则巫师将给予调至原数据70%的惩罚，再犯则帐号
删除。

＊严禁“故意”使用和他人一模一样的姓名，后登陆着将被迫改名。

＊严禁辱骂以及人身攻击任何一位巫师或玩家，违反者初犯关空房间二个星期，并要写  
检讨；再犯所有帐号调至原数据50%；三犯该玩家最强帐号将被删除。严重犯规者,所有
帐号将被删除。

辱骂包括以各种语言、形式、图形、动作、向对方作出人身攻击，或向对方的环境、性
别、家人、家庭、亲戚、身体部份、作出攻击。管理巫师有权对各种情形自   行衡量。

＊凡是故意破坏本游戏运行者，将被宣布为不受欢迎者，而相关IP以及帐号将被
  拒绝连线。

 其中包括以下行为：以非法手段窃取以及破解玄剑录游戏的源代码；恶意攻击本游戏的
 服务器；以非法手段窃取盗用玄剑录游戏任何玩家和巫师的帐号；恶意攻击和散布关于

 玄剑录的谣言；恶意攻击和诋毁玄剑录的巫师。对于以上各种行为，玄剑录巫师协会不
 但要给予拒绝连线，并且还保留着追究其法律责任的权力。

＊严禁公开或私下ＦＬＯＯＤ，违反者初犯关空房间由巫师进行教育，并写检讨；再
  犯关入空房间一个星期；三犯最强帐号将被删除。如果该行为严重阻碍了其他玩家
  正常游戏，(如: 利用FLOOD干涉其他玩家正常游戏) 第一次该玩家最强帐号调至原
  数据70%，第二次直接删除最强帐号,再次违反，则拒绝连线。

  （ＦＬＯＯＤ指短时间内输入大量命令或者用指令造成回显过多
  例：一秒内输入超过20条命令。让NPC回复过多的信息给别人造成不便。）

＊严禁利用多重上线获利、恶意影响系统。初犯者关入空房间二个星期，并写检讨。
  第二次所有帐号调至原数据50%。第三次删除所有帐号。
  多重上线定义为：同一人在同一玄剑录站点同时操纵两个或以上的人物。网吧
  玩家也必须遵守。并不以机器数目多寡来决定。

  获利包括：获得经验、获得潜能、练习武技、学习技能、挖金、寻宝 、解迷、
            解密。
  
＊游戏允许玩家之间间互相ＰＫ，下毒，抢劫，行窃。但严禁对游戏进行破坏性
  ＰＫ，违者档案将被删除。
  
  破坏性ＰＫ即一切阻碍游戏正常发展的大规模残杀及一切阻碍玩家进行游戏的
  连续杀戮。

  玄剑录目前人气还不够旺盛，因此暂时增加一个PK限制，暂定为下，若有改变预先通知：
  1：一日之内不得ＰＫ超过五次，时间以服务器所在位置时间(uptime)为基准。
  2：不得连续超过三天每天（主动的直接或者间接）杀五个100000经验或以下的
  帐号（正当防卫例外）。
  3：严禁职业PK，即上线只PK不练功，PK完就下线的ID。

＊严禁多人共享一个人物于ＰＫ或违反其它游戏规则用途，违者删除共享帐号。

＊严禁利用ＢＵＧ牟利，违者数据将被调整至用ＢＵＧ牟利之前的50％。如果该
  玩家多次利用不同的ＢＵＧ牟利达三次以上，档案将被删除。
  
＊严禁在公开频道使用污秽，黄色，不道德等字眼，第一次违反进行教育；第二
  次违反关入空房间一个星期；第三次犯则删除该玩家最强帐号；对屡教不改者,
  管理巫师可以象上级申请拒绝此玩家连线进入。

＊玩家有权利和义务检举及揭发他人或巫师违反规则。

  检举方式可以至该站点的秘密交流室举报。也可以E-mail致mud_xjl@sohu.com
  或xuanjianlu@263.net，我会根据您的投诉，在第一时间调查然后及时给您回
  复。
  检举人身份将受到保密，巫师有责任保密检举人的身份，不得在任何情况下将
  检举人的身份泄漏给任何玩家、亲戚、朋友、及家人。
  凡检举被证实将获得奖励黄金一百两至一千两。

＊请在公开交谈时尽量使用中文。


【玄剑录执行守则】                                                    

＊请不要因一时意气用事而自杀，自杀者不得复档。

＊玩家移数不得转移到其他站点。

＊玩家不论任何原因遗失密码，如申请密码重发，必须提供该ID的各项属性，
  比如Skills,Gift等,且密码一律只发回注册信箱。

＊如果玩家数据出现问题，巫师将以最近的备份档案恢复。如数据仍有误差，
  巫师将不会进一步帮玩家修复。

＊如果玩家对玄剑录某管理巫师的处理方法产生争议，可以向更高级的管理巫师申
  请上诉。如果玩家对规则中某些条款有疑问请询问当地管理巫师。

＊所有巫师除了必须遵守以上规则外，还要遵守巫师规则。
 玄剑录巫师协会保留对犯规行为采取任何处理办法的权利。