[44;1m[1;33m【梦游戏规则】                                            [37;0m

[1;33m＊严禁使用带有侮辱他人的，带有政治色彩的中、英文名字。请勿使用
  易引起混乱或不雅观的中、英文名字。在线管理者有权直接删除档案。

[1;33m＊严禁辱骂他人，违者档案将被删除（如果有问题可以找巫师解决）。

[1;33m＊严禁用各种方式ＦＬＯＯＤ系统和其他玩家，违者档案将被删除。

[1;33m＊严禁利用ＢＵＧ牟利，违者数据将被调整至原有的５０％。如果情况
  太严重，档案将被删除。

[1;33m＊允许互相ＰＫ。但严禁对梦进行破坏性ＰＫ。违者档案将被删
  除。

[1;33m＊请用 tell 或 reply 来进行私人交谈。

[1;33m＊在同一站点，请不要登陆过多的人物。如果登陆人物过多，在线管理
　者有权强制玩家下线，屡禁不止者档案将被删除。


