 [1;42m                       …………[0;1m【大唐西游】游戏规则 [42m…………                   [m

  凡是不能遵守本站规则的朋友请勿加入本游戏,我们不会做任何的挽留

√ 故意破坏本游戏运行的玩家，将被宣布为不受欢迎者，而相关IP将会
   被拒绝连线或者杀档

√ 严禁不同玩家之间共用帐号和借用帐号，因此而造成的损失巫师有权不予负责

√ 允许玩家在游戏范围内有节制的进行娱乐为第一位的。严禁进行超出游
戏范围的人身攻击和连环恶性pk(把某位玩家杀到0等),惩罚至杀档或封掉IP

√ 玩家严禁以任何形式刷屏系统 或戏弄其他玩家,比如#n look,严禁在公
共场合练功和读书,违者关死牢,惩罚至杀档

√ 利用 Bug 及 Multi-Login 牟利或练功者，被抓到第一次减所得参数，
以后每次减所有参数的 1/2,惩罚至杀档

√ 除了系统帮助里所公布的有关游戏中谜题、机关、陷阱解法外,巫师没有
义务向玩家解释更多的事项

√ 严禁向巫师索要任何物品和要求更改任何个人数据

√ 对于学生档案本游戏不予保护，我们不支持在校学生在这里进行游戏娱乐

√ 严禁向巫师要求查询任何的个人数据

√ 对于系统意外当机玩家所损失的数据，巫师没有义务给予恢复

√ 对于玩家档案数据意外损坏，如果玩家自己没有备份(backup)档案 不予恢复

√ 无论何种原因，玩家自杀的档案，不予恢复

√ 严禁使用和巫师一样以及类似的名字,严禁使用游戏中任何一种NPC或物品的名
字以及用门派的名号和武功名称，地图地点等做名字,惩罚至杀档

√ 严禁在任何的频道讲市井语言，包括拼音缩写,惩罚至杀档

√个人宠物名字严禁使用任何的玩家的名字以及需要遵守姓名规则,违者惩罚至杀档

√ 玩家无权抗议巫师对任何程序的修改,有想法可以建议

√ 严禁以任何方式（利用系统设置暂时漏洞）学习任何一种别派武功

√ 对于游戏中的NPC人物严禁异地搬动 严禁召唤护法以及个人与不死NPC进行战斗,
违者惩罚至杀档

√ 对于任意的 IP 如果有一次对服务器的攻击行为，该 IP 的所有玩家
将被全线杀档 并且永远封杀该 IP 的进站娱乐权利

√ 凡是在任何的交谈频道扮演巫师身份扰乱秩序的,根据系统记录将给
予关死牢七天,惩罚至杀档

√ 严禁名字里带空格和符号，只要不是英文和中文的，惩罚至杀档

√ 凡是有意贬低巫师工作水平和上线贬低站点声誉的，将被直接杀档或封IP

√ 凡是拿到黄铜钥匙不开门而使钥匙废掉者,关死牢三天,相关责任人连带处罚

√ 严禁成立带有 黑社会 性质的组织垄断网络,骚扰和威胁其他玩家,违者所有
相关责任人连带处罚,关死牢30天,惩罚至杀档

√ 禁止使用和其他玩家一样的中文名字（根据MUDAGE小者将被勒令改名或者杀档）
不服从规定管理的将被关死牢,惩罚至杀档

√ 凡是没有 MAIL 地址的玩家密码丢失，巫师没有义务给予恢复，对于
登陆时没有正确填写地址的可以给管理员mail,不然以后密码丢失自己负责

√ 凡是刷写留言板的直接杀档，相关IP给以暂封或永久性封掉。巫师调
处若有不公、牟利特定玩家、或恶意伤害玩家权益，可在留言板申诉。

√ 除恶意中伤本游戏，巫师及其他玩家的留言外，所有留言将按时间顺序更新，
   巫师以及版主不得随意删除。注意：胡言乱语不知所云以及反复重贴的留言
   不在此条保护之列。除此之外巫师要严格遵守巫师规则 help wiz_rules
   
大唐巫师协会保留对犯规行为采取任何处理办法的权利。
