               狂 想 空 间 游 戏 规 则
               =======================
 
      不准透过巫师直接或间接修改玩家资料，如果要测试，请到巫师该去的地方
        除，该巫师是 (admin) 级以上，或者他事先征求线上所有玩家同意及
        至少一名跟他不同校的 wizard 级以上巫师同意。
 
      玩家如果超过三个月没上线, 会被系统自动砍掉
 
  除了 BUG 以外，玩家的事由玩家解决, 所以, 玩家不能找巫师出面解决
  由其他 player 造成的纷争, 例如被 PK, 或者因不小心死掉等等。
  以下规则由Lum附增:
      除以上规定之外，使用公众频道（接收讯息者在两人以上）口出秽言
      者，以及跟巫师发生战斗行为者，皆视为违法，一定皆以砍档论处。
 
 
 
  PS: 想当巫师有两种状况，一是到另一巫师专用站去 post
      另一条是用 wizard 命令, 此命令需要某些条件才能生效
  PS: 完成所有任务
      上线时间需超过五天
      战斗经验值须超过 10000
  PS: 上述情况只是暂定, 以后视情况再说
 
其他: help cmds, help start, help setup, help history, help wiz_rules
 
by wade in 10/29/1995, fixed in 12/2/1995
by Lum additem 6/3/1996
