                        玩家守则
    MUD中的世界是自由的世界，本应没有法律法则，但是，没有法律的
世界就没有真正的自由!因此，在"侠客英雄传-欢乐天地"中是有法律的，
是既简单又严厉的!

一、发现BUG的用户（玩家）请尽快报告在线的管理员，如无管理员在线
    请在"中央广场"的"中央广场留言板(Board)"post出BUG的情况，并在
    MUD中Email详细的情况给"Micro"或"Key"。
    知情不报并以BUG牟利者--杀档!!

二、不要使用强力的机器人!注意，只是强力的。"强力"与否看系统是否
    受影响而定，如果使用了机器人影响了系统，被警告不听者和屡犯屡
    试者--杀档!!

三、在公用频道上一次贴出太多的 TEXT 是件不礼貌的事, 初犯者口头警
    告一次再犯的话送保护管训, 三犯送 PURGE 一次。

四、禁止将人物和他人共用，屡劝不听者抓到杀档案。

五、禁止□漏有关游戏中谜题、机关、陷阱解法，屡劝不听者抓到杀档案。

六、不鼓励偷窃、抢劫、谩骂、侮辱、粗言粗语等行为，告诉乃论，情节
    严重且无法达成和解者抓到杀档案。

七、以上除杀档案之惩罚由Admin亲自执行之外，其馀可向各级神仙申请
    调处。

八、神仙调处若有不公、牟利特定玩家、或恶意伤害玩家权益，可向Admin
    申诉，申诉者自负举证之责任。

    神仙（管理员）除了以上的规则都必须遵守外，尚须遵守巫师规则(
见 help wiz_rules)，欢迎您随时检举违规的神仙。



