
                             《玩家守则》

      国有国法、家有家规，游戏当然也有游戏的规矩，以下是《天下》现行的天
  条，请务必遵守。当然，玩家永远有最终极的权力——拒玩，如果到了这一地步，
  这些天条当然再也管不到您，不过我希望这种情形永远不会发生。

  □ 严禁发布与「中华人民共和国」的法律、法规、政策、道德规范相抵触的言论，
     抓到杀当，一切后果自负，游戏管理组有举证和协助有关部门调查的义务。

  □ 严禁以任何方式干扰本游戏的正常运行，抓到杀当，触及有关法律、法规、政
     策者，一切后果自负，游戏管理组有举证和协助有关部门调查的义务。

  □ 玩家有义务将发现的程序错误(bug)向游戏的管理者(本游戏的巫师)报告，严
     禁利用 Bug 牟利，抓到无条件杀档案。

  □ 严禁对其他玩家或者游戏管理员进行诽谤、威胁、侮辱、谩骂、粗言粗语等人
     身攻击，抓到无条件杀当。

  □ 禁止无故骚扰别人，情节严重者抓到杀档案。

  □ 在公用频道上一次贴出太多的内容及制造垃圾讯息是不允许的，玩家可持记录
     档向管理员申诉，经确认证实，处以禁止登陆游戏两周直至杀当的处罚。

  □ 禁止将人物和他人共用，抓到杀档案。

  □ 禁止以任何方式公开泄露有关游戏中谜题、机关、陷阱解法，屡劝不听者抓到
     杀档案。

  □ 禁止使用非法手段（超出游戏设计范围之外的手段）PK，抓到杀档案。

  □ 游戏中大多数物品都可由玩家创造，其设定的各种信息也属于玩家言论，除须
     遵守以上相关条例外，如有侮辱、挑衅、贬斥其他玩家的内容，经其他玩家申
     诉、管理员确认，将会受到无条件删除此物件直至杀当的处罚。

  □ 巫师调处若有不公、牟利特定玩家、或恶意伤害玩家权益，可向游戏管理信箱
     申诉，申诉者自负举证之责任，玩家的申诉信会有很好的保密措施予以保护。

  本规则的解释权属于本游戏的管理组。

  所有规则只为维护多数玩家利益而设，玩家可提议加入新的规则。

