                 [1;37m【[1;36m《浴血江湖》[1;37m】[1;33m游戏规则

    [1;37m【[1;36m《浴血江湖》[1;37m】[1;32m游戏是建立在【东方故事Ⅱ】mudlib上的一个MUD游戏，
我们的目的是为广大在 gnet，Internet上玩的、能够读写汉字的朋
友们提供一个消遣时间，谈天说地的地方。当然，就象其他的MUD一
样，我们需要一套规则来保证游戏能够正常运行，玩家们能玩的高兴。
不愿意遵守以下规则的朋友请勿加入本游戏，谢谢。


    [1;33m▲[1;32m 禁止无故使用频道骚扰别人，例如#10 tell id &^%%$#^
          
    [1;33m▲[1;32m 禁止骚扰玩家的机器人，情节严重者抓到杀档案。(本条无须
       警告!)例如触发对方机器人或者恶意杀害任务npc等等，PK正
       在做任务的玩家不算骚扰机器人!
    
       
    [1;33m▲[1;32m 禁止在公共频道刷屏，如果第一次警告，第二次关监牢1小时，
       如果屡教不改的，封id三天或者杀档!    
    
       
    [1;31m● [1;32m严禁玩家使用BUG牟利，发现一律严惩。
       以上条例处理方法如下:
       1.(处理:将捣乱玩家全线关入监狱，巫师协会保留永久处理方
       [1;32m式)
    
    [1;32m
       2.(处理:按情节轻重处理:处理方法包括;口头警告、关入监狱
       (指一条线的所有Player、杀档(指其作弊玩家及违反条例者)、
       封闭IP(封IP 例:100.100.100.100 Ip 巫师的封闭方法为封: 
       100.100.100.*))。
    
    [1;31m● [1;32m严禁取用带有色情或者反政府的名字！发现者巫师立即修改该
       id名字，如果屡教不改者杀档!

    [1;31m● [1;32m严禁玩家恶意PK,恶意pk定义有以下几条:
[1;32m     1: 该ip的玩家多次大规模的pk比自己差的玩家，造成《浴血江湖》游戏发展不下去的!
       
     2:该ip的玩家每天上线目的只是为了pk，而且不是pk固定id，是pk大规模的玩
       家，而且还是不练功的，被杀一次就马上逃跑，然后第二天上来继续pk
       ,不练功的!第一次发现封id三天，第二次马上杀档!
     
     [1;32m3:pk新手者(岁数小于18岁)  的玩家，马上关id三天，屡教不改的杀
       档处理!

     以上规定是按同一ip来算，也就是多个id但是主人是一个的（也就是说网下
     控制id的那个人）如果违反了以下几条的话，按规定处理，也就是说如果你
[1;32m     今天拿你的idA屠城，明天拿你的idB屠城，后天又拿...这样都算恶意pk，
     上面的次数不是按pk的id名算，而是按ip算!被发现主要pk 的几个id要按规
     矩处理的

       [1;32m其他个人恩怨仇杀巫师一概不理!
     
    [1;34m☆ [1;32m所有巫师除了必须遵守以上规则外，还要遵守 [1;37mWIZRULES[1;32m。 

   [1;37m【[1;36m《浴血江湖》巫师组[1;37m】[1;32m      保留对犯规行为采取任何处理办法的权利。

   
[1;33m                                             By rock 修改于
[1;37m                                          二零零二年六月十日

