
                              笴栏砏玥 

瓣Τ瓣猭產Τ產砏Mud 讽礛Τ Mud 砏痻琌秇獿瞷︽ぱ兵叫叭ゲ
宽讽礛產ッ环Τ程沧伐舦┶狦硂˙硂ㄇぱ兵讽礛
恨ぃ眤ぃ筁и辨硂贺薄ッ环ぃ穦祇ネ

〖 ぃ璶ㄏノ诀竟絤禗阶薄竊腨ъ炳郎

〖 ぃ璶 Multi-login桂腢ぃ钮ъ炳郎

〖 窽ゎノ Bug θ薄竊腨ъ炳郎

〖 窽ゎ礚珿奶耑禗阶薄竊腨ъ癳玂臔恨癡┪炳郎

〖 そノ繵笵Ω禟び TEXT 琌ンぃ搂华ㄆ, デ繷牡Ω
   デ杠癳玂臔恨癡, デ癳 PURGE Ω

〖 程ぃ璶盢㎝ノ禗阶桂腢ぃ钮癳玂臔恨癡

〖 窽ゎ簗Τ闽笴栏い良肈诀闽炒ɡ秆猭桂腢ぃ钮ъ炳郎

〖 ぃ躬纘ㄏノも琿 PK禗阶璝礚猭笷Θ㎝秆甡禬筁ъ
   炳郎

〖 ぃ躬纘敖叛穖疸絴玍癲彩ē彩粂单︽禗阶薄竊腨礚猭
   笷Θ㎝秆ъ炳郎

〖 埃炳郎ぇ胓籃パ克︑磅︽ぇㄤ緇畍ビ叫秸矪

〖 畍秸矪璝Τぃそθ疭﹚產┪碿種端甡產舦痲ビ禗ビ禗
   ︑璽羭靡ぇ砫ヴ

畍埃砏玥常ゲ斗宽﹟斗宽畍砏玥(ǎ help wiz_rules)舧眤
繦浪羭笻砏畍

By Annihilator(07/27/95)
