                             —— 游戏规则 ——

国有国法、家有家规，Mud 当然也有 Mud 的规矩，以下是 深大 Mud 现行的天条，请
务必遵守。当然，玩家永远有最终极的权力——拒玩，如果到了这一地步，这些天条
当然再也管不到您，不过我们希望这种情形永远不会发生。

一、玩家规则
(1) 严禁利用 Bug 牟利，情节严重者抓到杀档案。
    
(2) 禁止骚扰别人，情节严重者抓到杀档案。

(3) 禁止短时间内在公用频道上贴出太多的内容相同或是内容相近信息。

(4) 禁止谩骂、侮辱、粗言粗语等行为，情节严重者抓到杀档案。

(5) 禁止在短时间内多次重复login-logout。

(6) 禁止盗用巫师帐号，发现一次，杀档；再犯者封IP。

二、违规处理
(1) 对于违规者，视情节给予警告、严重警告、封档、杀档、封IP等处罚。

(2) 警告满三次或严重警告过一次的玩家再次违反规则的给予封档处罚。

(3) 被封档的玩家在两星期内不为自己做辩护或无法给出合理解释的，给予杀档处罚。
    情节更严重者同时给予杀档和封IP的处罚。

(4) 巫师调处若有不公、牟利特定玩家、或恶意伤害玩家权益，可向天神申诉，申诉者
   自负举证之责任。


                                                    深大泥巴巫师工作组

