# falg 为 0 说明以下定时是依照现实生活中的时间
# falg 为 1 说明以下定时是依照游戏中的时间
#
# day_in_month 一个月中的第几天，范围 1-31
#
# day_in_week  星期几 范围 0-6 ( 0 为星期日 )
#
# month_in_year 月份 范围 0-11
#
# hour	小时	范围 0-23
#
# minute 分钟	范围 0-59
#
# object、function 是条件满足时触发 object->function
#
# 没有用的项用 '*' 星号 填补
# 每一项中可以用 ',' 逗号来分割多条件
#
# 以下是格式：
#flag:day_in_month:day_in_week:month_in_year:hour:minute object function
#
# by Find.

# 每星期三、六晚八点举行拍卖大会。[PAWN_D->touch_meeting()]
0:*:3,6:*:20:0 /adm/daemons/pawn_d touch_meeting

# 每日凌晨三点进行玩家排名。[PAIMING_D->main()]
0:*:*:*:2:0 /adm/daemons/paiming_d main

# 每日凌晨四点刷新文件搜索列表。[/cmds/wiz/findfile->main()]
0:*:*:*:4:0 /cmds/wiz/findfile main

# 每日凌晨五点清除过时新闻	[NEWS_D->fresh_news_dir()]
0:*:*:*:5:0 /adm/daemons/news_d fresh_news_dir

# 每小时检查一次超过48小时未连线确认的新玩家 [SMTP_D->user_no_login()]
0:*:*:*:*:30 /adm/daemons/smtp_d user_no_login

# 每小时商行进行随机处理 [BUSINESS_D->random_check()]
0:*:*:*:*:0 /adm/daemons/business_d random_check

# 每小时查询一遍仁义庄 [RENYI_D->update_killer_table()]
0:*:*:*:*:40 /adm/daemons/renyi_d update_killer_table

# 每半小时刷新一次 blocklist
0:*:*:*:*:15,45 /adm/daemons/avoid_hacker_d init_blocklist
