		< The Final Frontier 的法律 >

  以下是 FF 現今的原則. 如果您進入 FF , 請儘可能地遵守規定, 
以維護自己的權利.

◎  玩家除了下面那一條 ★ 規則要遵守以外, 沒有任何義務遵守以
    下  □  記號的各條規定.

□  你可以使用機器人練功, 並實驗遭到其他玩家報復時的程式 AI.
□  你可以在線上同時載入兩個以上人物(multi-login),  佔用其他
    玩家連線的資源.
□  你可以無故騷擾別人, 並招致當事人的報復..
□  你可以在公用頻道上一次或重覆貼出太多的內容, 造成其他玩家
    的困擾或怒意.
□  你可以將人物和他人共用, 此舉將嚴重影響系統管理.
□  你可以於公開場合中洩漏有關遊戲中謎題、機關、陷阱解法, 此
    舉將嚴重干擾其他玩家冒險之樂趣.
□  你可以使用卑劣手段惡性殺害其他玩家, 此舉將造成當事雙方難
    以處理之糾紛.
□  你可以偷竊、搶劫、謾罵、侮辱、猥褻其他玩家, 後果同現實世界.

★  如果玩家有以下蓄意破壞 FF 系統管理運作的行為, 殺無赦.

PS. 目前會破壞 FF 管理的行為包括:
    (1) 破解巫師人物的密碼.
    (2) 使用機器人程式練功.
    (3) 同時使用兩個身分連線 (multi-login).
    (4) 過度使用 tintin, Zmud 等 client 程式造成系統負載過重.
    (5) 與他人共用同一位遊戲中的人物.
    (6) 發現系統程式錯誤之處 (bug)  而用以牟利, 惡意不予以報告.

  原則上一般巫師除了管理程式運作外, 不負責執行法律以及處刑. 
所以請玩家自律, 遵守 FF 之法律, 以維護自身及他人愉快地在 FF 
中冒險的權利. 當然, 高級巫師還是有刪除玩家檔案的能力. 

  巫師調處若有不公、牟利特定玩家、或惡意傷害玩家權益, 可向更
上一級之巫師申訴, 申訴者必須自負舉證之責任.

  巫師必須遵守以上規則, 並遵守巫師規則 (見 help wiz_rules),
巫師如有違規情事將視情節輕重予以處分, 玩家亦可舉證檢舉. 

Updated by Spock @ FF   97.Apr.25.
