[53m【游戏规则】－－ 最后更新于 2001 10 06                                            [0m
[0m
[53m    【神州】并非一个完美的世界。我们首先希望【神州】是一个发展[0m
[53m与完善兼顾的游戏。完善往往意味着原地踏步，我们相信也在努力让本[0m
[53m神州网络世界不断地增添新的生命力。再完善的法则，也要顺应环境的[0m
[53m不断变化。制定游戏规则的目的，不是也不可能阻止玩家破坏游戏的秩[0m
[53m序。而是让玩家通过规则知道，哪种类型的行为，是对这个游戏的发展[0m
[53m有利的，哪些行为是损害游戏本身的。[0m
[0m
[53m    如果我们制定的规则，被一些善于在文字上作文章的不良玩家利用，[0m
[53m甚至成为欺压其他玩家的工具，这是完全违背我们制定此规则的本意的。[0m
[53m希望我们的规则，永远服务于游戏的健康发展并代表大多数善良玩家的[0m
[53m利益。[0m

[33m    [0m
[57m玩家在游戏的过程中，应该注意以下方面的行为：[0m
[33m    [0m
[53m＊请勿使用不雅观或其他易引起混乱的中、英文名字。——轻度犯规[0m
[0m
      [57m请勿采用与游戏中的物品、非玩家人物(NPC) 相同的中英文名[0m
[57m      字，这将会给游戏带来混乱与困扰。请勿采用有违于道德、或   [0m
[57m      有关政治、宗教争议的中英名。请勿采用和其他玩家一样的中[0m
[57m      文名，遇到这种情况，若中文名相同，神仙将帮助玩家改名，[0m
[57m      若英文名的相同，神仙将会删除相应的档案。[0m
[0m
[53m＊严禁辱骂任何一位神仙或玩家。——一般犯规[0m
[0m
[56m      [57m请注意自己的言谈形象，不要给游戏带来没有必要的混乱与困[0m
[57m      扰。无论对方做了什么，无论什么原因引起的，对任何一位神[0m
[57m      仙或者玩家的辱骂行为，都是不能允许的。[0m
[0m
[53m＊严禁恶意攻击任何一位巫师或玩家。——严重犯规[0m
[56m     [0m
[56m    [0m [57m 网络是一个虚拟的世界，玩家需要为自己说的话、写的帖子、[0m
[57m     [0m [57m做的事情负责，这是建立虚拟世界的基础。巫师在游戏中扮演[0m
[57m     [0m [57m的角色特殊，并不直接参加游戏，同时尊严也不允许随便被挑[0m
[57m     [0m [57m战。玩家只有在公布充分证据的情况下，才允许评论巫师，否    [0m
[57m     [0m [57m则即为恶意中伤。严禁粗鲁性的、煽动性、仇恨性的、纯攻击[0m
[57m     [0m [57m性的语言或帖子。[0m
[0m
[53m＊严禁公开或私下ＦＬＯＯＤ频道或系统。——一般犯规[0m
[0m
[56m    [0m  [57m玩家不应在各种频道、以任何方式制造重复或无用的信息，也[0m
[57m      不应做大量额外加重系统负担的行为。[0m
[0m
[53m＊玩家不应在公开场合泄露谜题，机关解法。——一般犯规[0m
[0m
[53m＊玩家不应在公开场合讨论政治、宗教等有争议的问题，也不应讨论有[0m
[53m  悖于公共道德的话题与字眼。——轻度犯规[0m
[0m
[56m    [0m  [57m如果你在无意中违反了上述行为规范，应该配合巫师及时妥善解决。如[0m
[57m      属蓄意破坏上述规则的玩家，将被酌情处以关空房间、勒令自杀、削减[0m
[57m      数据、削减天赋、直至删档、封网的处罚。[0m
[0m


[52m为了保证公平的环境，请注意以下一些条款，包括但不限于：[0m
[53m＊严禁多重上线。——一般犯规(暂缓执行)[0m
[57m      多重上线即某一玩家同时操纵两个或以上的人物。[0m
[0m
[53m＊严禁多人共用一个人物。——一般犯规(暂缓执行)      [0m
[56m      帮人练功即认为标准的共用人物。
[0m
[53m＊严禁利用或传播ＢＵＧ，处分由巫师酌情商定。——严重犯规[0m
[0m
[53m＊允许互相ＰＫ，下毒，抢劫，行窃，严禁对本站进行破坏性ＰＫ。[0m
[56m  [0m
[57m破坏性ＰＫ即一切阻碍游戏正常发展，或影响玩家进行正常游戏的杀  [0m
[57m戮行为。一般怀有恶意的动机，或造成了恶性的结果。——严重犯规[0m
[53m包括但不限于：[0m
[53m        ⒈）二十四小时之内连续杀五位玩家以上。[0m
[53m        ⒉）二十四小时之内主动直接或间接连杀同一玩家超过两次。[0m
[53m            (正当防卫、相互仇杀或其它应属例外)[0m
[53m        ⒊）为争夺网吧利益而发生的ＰＫ行为。[0m
[53m        ⒋）使用系统漏洞或系统错误进行的ＰＫ行为。[0m
[53m        ⒌）共享角色或多重登录而进行的ＰＫ行为。[0m
[53m        ⒍）故意压制某些门派正常发展的ＰＫ行为。[0m
[53m        ⒎）以ＰＫ胁迫其他玩家，进行违反规则的行为。[0m
[53m        ⒏）不经常练功，但是却热衷于在安全房间和下线的方式，伺[0m
[53m            机ＰＫ的行为。[0m
[57m玩家因为不理智而造成的一般犯规的行为，应该送空房间做反省，以周[0m
[57m为单位。蓄意犯规或屡教不改者，根据情况酌情予以削减数据、削减天[0m
[57m赋、直至删档、封网的处罚。[0m
[0m
[0m
[53m【游戏执行规则】                                            [0m
[0m
[53m＊如属玩家数据出现问题，请详细明白地向神仙汇报情况。玩家态度不友[0m
[53m  好，或者叙述问题不清，神仙应当拒绝回答甚至保持沉默。巫师在回答[0m
[53m  问题后，或者游戏有明确提示的情况下，一般不再重复回答。[0m
[0m
[53m＊玩家有权以留帖子或写信上诉游戏的问题，但玩家需对自己的发言负责。[0m
[53m  只有天帝或者天帝授权的神仙才能清理帖子。所有反映的问题均需有确[0m
[53m  凿的证据或者证人，否则论以恶意中伤。[0m
[53m  [0m
[53m＊游戏中的系统问题(BUG)，请用 sos 命令向神仙报告，而神仙只回答由[0m
[53m  于游戏错误而产生的问题，不能协助玩家游戏或者解谜。虚报 BUG以求[0m
[53m  获得神仙特殊帮助的，将被关禁闭一周。要求神仙协助其游戏的，神仙[0m
[53m  可以拒绝回答。如果再三提出特殊待遇要求的，将被关禁闭一周。[0m
[53m  [0m
[53m＊如果玩家对【神州】规则产生争议，则以神仙的解释为准。神仙有权在[0m
[53m  特殊情况下，依照天界与凡界规则，对争议予以特殊处理。[0m
[0m
[53m＊所有神仙除了必须遵守以上规则外，还要遵守天界规则。[0m
[0m
[53m＊神仙不能利用手中的权力为玩家改名，除非出家改名后还俗的玩家。[0m
[0m
[53m＊神仙将对游戏中各种有利于游戏发展的情况给予奖励。[0m
[53m [0m 
[57m  奖励包括但不限于：[0m
  
[57m  第一等奖励：对神仙的违规举报，丰富游戏的代码，详细策划书或资料。 [0m
[57m  第二等奖励：举报游戏BUG，改善游戏的重要建议，改善游戏环境的行为。  [0m
[57m  第三等奖励：除以上行为外的其他情况。[0m
[57m  [0m
[53m  天界将会根据玩家的贡献不拘一格地给予奖励，同时也会保护举报人应[0m
[53m  有的权利。[0m
  
[56m  [57m奖励将包括：先天天赋、经验或技能、九转还魂丹、舍利子、金元宝， [0m
[57m  甚至短期召入天界旅行。[0m
[0m
[33m    [0m
