
 These are The Rules according to Duuktsaryth@Haven,
 High God, Lord of Balance, Supreme Being of Kailie,
 and, in all other respects, the one most deserving
 of your praise, because he started this awesome MUD:

 1)  Thou shalt not abuse, murder, or in other ways harm a newbie.

 2)  Thou shalt not breach in-character rules, and will remain
     in theme and style whilst playing on Haven.

 3)  Thou shalt not abuse bugs.

 4)  Thou shalt not harass other users logged on to Haven.

 5)  Thou shalt not attempt to circumvent the rules in any way.

 6)  Thou shalt take to heart any direct request from an Immortal, 
     unless thou feelest that this order is unfair, in which case
     thou shall be able to appeal to a Spirit, then to a Sage,
     and then an Assistant Arch, proceeding to Secure Arches and
     Administrators, and then to Duuktsaryth the Magnificant, as
     needed.

 7)  Thou shalt stay within the rules regarding multiple characters, 
     and treat these multiple character rules as beyond holy.

 8)  Thou shalt not swear on public lines.
 
 9)  Thou shalt follow the rules according to 'help clients'

 10) Thou shalt not suicide nor deliberately get thy character
     purged only to obtain better statistics.

 11) Information pertaining to "Quests", such as where to find hidden
     items or how to assemble pieces to a puzzle shall be considered to
     be SECRET.  Anyone sharing this information is subject to severe
     penalties.  This rule does not apply to combat-oriented quests such
     as the Dwarf Merchant quest.