#include <ansi.h>

inherit SSERVER;

int perform(object me, object target)
{
	if( !target ) target = offensive_target(me);
	if( !target->is_character()
        ||      target->is_corpse()
        ||      target==me)
                return notify_fail("你要对谁使用“”？\n");

}
